* {
  box-sizing: border-box;
}

body {
  background-color: #F9FCFE;
}

h1 {
  font-family: 'Lato', sans-serif;
  width: 645px;
  font-weight: bold;
  font-size: 80px;
  color: #212353;
  margin-top: 50px;
}

.secondary-title {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}

.site-header {
  margin-top: 50px;
  margin-bottom: 99px;
  padding-top: 50px;
}

.site-header-top {
  display: flex;
  margin-bottom: 130px;
}

.site-logo {
  margin: 5px 121px 5px 5px;
  padding: 0;
}


.pages-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 322px;
  height: 30px;
  margin-right: 515px;
}

.pages-links-item-links {
  text-decoration: none;
  color: #566772;
}

.request-demo-link {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  text-decoration: none;
  align-items: center;
  justify-content: center;

}

.request-demo-text {
  color: #212353;
  font-weight: 800;
  font-size: 16px;
  padding-right: 20px;
}

.site-header-basic {
  display: flex;
  width: 645;

}

.site-header-basic-photo {
  width: 50%;
  height: 468px;
  object-fit: cover;
}

.site-header-basic-text {
  width: 380px;
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #4B5D68;
  margin-bottom: 50px;
}

.site-header-basic-link {
  display: inline-block;
  background-color: #9C69E2;
  color: white;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 15px 37px;
}

.section-about-banking {
  display: flex;
  width: 1117px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 149px;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.section-about-banking-img {
  width: 477px;
  vertical-align: middle;
}

.about-bank {
  width: 475px;
  margin: 125px 92px 125px 62px;

}

.about-bank-text {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.features {
  margin: 0;
  padding: 0;
  max-width: 1137px;
  margin-left: auto;
  margin-right: auto;
}

.features-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 584px;
  margin-bottom: 70px;
}

.features-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.site-handbooks {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.site-handbooks-items {
  display: flex;
  flex-wrap: wrap;
  width: 531px;
  background-color:#F0FAF8;
  border-radius: 50px;
  margin-bottom: 50px;
  padding: 30px 20px 30px 0;
}

.site-handbooks-item-img {
  width: 232px;
}

.search-data {
  width: 220px;
  margin-left: 29px;
}

.tertiary-title {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.learn-more {
  text-decoration: none;
  width: 127px;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}

.round-the-clock {
  width: 220px;
  margin-left: 29px;
}

.site-handbooks-items-second {
  margin-left: auto;
  background-color: #F5F0FC;
}

.site-handbooks-items-third {
  background-color: #FDEFF8;
}

.print-out {
  width: 220px;
  margin-left: 29px;
}

.site-handbooks-items-fourth {
  margin-left: auto;
  background-color: #EAF5FB;
}

.security-code {
  width: 220px;
  margin-left: 29px;
}

.testimonials {
  background-color:#9C69E2;
  margin: 0;
  padding: 0;
  width: 1137px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.users {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 60px;
}

.secondary-title-testimonials {
  color: white;
  padding: 109px 620px 88px 93px;
}

.user-feedback {
  width: 645px;
  background-color: white;
  margin-left: 93px;
  border-radius: 20px;
  padding: 60px 70px 50px 70px;
  box-shadow: 0px 20px 0px #8A56DB;
}

.user-feedback-item {
  display: flex;
}

.user-feedback-item-img {
  border-radius: 50%;
}

.tertiary-title-testimonials {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
}

.user-feedback-item-link {
  text-decoration: none;
}

.user-feedback-item-information {
  margin-left: 30px;
}

.user-feedback-second {
  width: 370px;
  background-color: white;
  margin-left: 20px;
  border-radius: 20px;
  padding: 60px 70px 50px 70px;
  box-shadow: 0px 20px 0px #8A56DB;
}

.section-buttons {
  display: flex;
}

.circles {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 55px;
  margin-left: 93px;
  margin-bottom: 50px;
}

.circles-item-button {
  padding: 5px;
  width: 5px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 60px;
}

.circles-item-button-first {
  width: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: #F063B8;;
}

.arrows {
  margin-left: auto;
  margin-right: 76px;
}

.arrows-button {
  background-color: transparent;
}